<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    
    
  <add name="AdamEntities" connectionString="metadata=res://*/Adam.csdl|res://*/Adam.ssdl|res://*/Adam.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SYSTEMADMIN-PC;Initial Catalog=Adam;User ID=sa;Password=vkn123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>