<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    
  <add name="AdamEntities" connectionString="metadata=res://*/AdamEntities.csdl|res://*/AdamEntities.ssdl|res://*/AdamEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-87M6996HACO;initial catalog=ProjectAdam;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>